/*Announcement*/
.announcement{
    flex: 8;
}
.announcement-top{
    margin: 20px 200px;

}
.announcement-bottom{
    margin: 20px 200px;
}
.announcement-category{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}