*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
body{
    background-color: #f0f2f5;
    color: black;
}
::-webkit-scrollbar{
    width: 5px !important;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: #b4b4b4;
    border-radius: 5px;
}

.mainContainer{
    display: flex;
}

